<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h4>記事リスト（全<%= @articles.total_count %>件）</h4>
    </div>
  </div>

<!--2件目以降, Article.all.offset(1)-->
  <%= render partial:"list", locals: {articles: @articles} %>
  
  <div class="row mb-3">
    <div class="col-2 mx-auto">
      <%= paginate @articles %>
    </div>
  </div>
</div>