<div class="container">
    <div class="row mb-3">
      <div class="col-md">
        <h4>検索キーワード："<%= @word_for_search %>"（全<%= @articles.total_count %>件）</h4>
      </div>
    </div>
    
    <!--記事リスト-->
    <%= render partial: "/public/articles/list", locals: {articles: @articles} %>

</div>