<div class="container">
  <div class="row mb-3">
    <div class="col text-center">
      <%= image_tag "logo.png", class:"logo opacity-none" %>
      <h4>お役立ちガジェット、デジタル技術など趣味のIoTを楽しむための情報投稿サイト</h4>
      <h6 class="py-3">Technology（テクノロジー） + Tile（タイル） + Tactile（触覚 => 情報のアンテナ）</h6>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-8 mx-auto">
      <div class="about-visual img-fluid rounded shadow"></div>
      <figcaption class="figure-caption text-right">Technology photo created by rawpixel.com - www.freepik.com</figcaption>
    </div>
  </div>
  
  <div class="row mb-3 d-flex align-items-center">
    <section class="col-6 text-center bg-warning bg-gradient rounded">
      <h4>特徴①：気になる記事を画像でナナメ読み！</h4>
      <p>記事にアップロードした画像がスライドショーで表示されます。</p>
      <p>百聞は一見に如かず</p>
      <p>こだわり・ポイントを絵と写真で簡単にアピール！</p>
    </section>
    <div class="col-6">
      <div class="feature feature-right shadow"></div>
    </div>
  </div>
  
  <div class="row mb-3 d-flex align-items-center">
    <div class="col-6">
      <div class="feature feature-left shadow"></div>
    </div>
    <section class="col-6 text-center bg-info bg-gradient text-light rounded">
      <h4>特徴②：投稿、いいねで「バッジ」をもらおう</h4>
      <p>記事を投稿して貢献！「投稿バッジ」</p>
      <p>投稿できなくてもいいねで応援！「いいねバッジ」</p>
      <p>取得したバッジはプロフィールで確認。</p>
      <p>サイトを利用してたくさん集めよう！（会員登録が必要です）</p>
    </section>
  </div>
</div>