/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.logo {
  font-family: 'Black Ops One', cursive;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: image-url("smart-home_640.jpg");
  background-size: cover;
  background-position: center;
  
  &-content {
      width: 100%;
      background-color: rgba(0,0,0,0.5);
  }
}

.float {
  transition: transform 0.2s;
  
  &:hover {
    transform: translate(0, -10%);
  }
}

// aboutページ、画像処理多く動作が重いのでサイズ感を揃えておくこと
.about-visual {
  width: 100%;
  height: 400px;
  background-image: image-url("smart-home_640.jpg");
  background-size: cover;
  background-position: center;
}

.feature {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  
  &-right {
    background-image: image-url("smart-home_640.jpg");
  }
  
  &-left {
    background-image: image-url("smart-home_640.jpg");
  }
}

.slideshow {
  width: 100%;
  height: 400px;
}

li {
  list-style: none;
}