<div class="container">
  <div class="row mb-3">
    <div class="col-md-3">
      <h4>会員リスト（全<%= @users.size %>件）</h4>
    </div>
  </div>
<!--会員リスト-->
<%= render partial: "/admin/users/list", locals: {users: @users} %>
</div>
