<div class="container">
  <div class="row mb-3">
    <div class="col text-center">
      <h4>本当に退会しますか</h4>
      <p>退会すると、会員情報の変更や利用履歴の閲覧を含む<br />
        全ての会員機能が利用できなくなります。<br />
        退会する場合は、「退会する」をクリックしてください。</p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col text-center">
      <%= link_to "退会する", user_path(current_user.id), class:"col-md-2 btn btn-danger", method: :delete %>
    </div>
  </div>
</div>