<div class="container">
  <div class="row mb-3">
    <div class="col text-center">
      <h4>本当に退会しますか</h4>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col text-center">
      <%= link_to "退会する", user_path(current_user.id), class:"col-md-2 btn btn-danger", method: :delete %>
    </div>
  </div>
</div>